<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/style.css">
                        
        <title>Upload a file</title>
    </head>
    
    <body>
        <body>
            
            <form method=post enctype=multipart/form-data>
                <div style="text-align:center;">
                <div class="form-group" style="text-align:center;">
                    <h2 class="headertekst">Upload a new File</h2>
                    <br>

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}

                            {% for message in messages %}
                                <font color="red">{{ message }}</font>
                                {% endfor %}

                        {% endif %}
                    {% endwith %}

                    <input type="file" name=file class="form-control">
                    <br>
                    <button class="btn" type=submit value=Upload>Upload</button>
                    <br>
                    </div>
                    <a href="{{ url_for('.form') }}">Cancel</a>
                </div>
            </form>
            
        </body>
    </body>
</html>


